.ACEStream/
.ICEauthority
.TelegramDesktop/
.WilmaaTV.php
.Xauthority
.cache/
.config/
.dbus/
.directory
.esd_auth
.fontconfig/
.gitconfig
.gnome/
.gnupg/
.histfile
.icons/
.java/
.jdownloader/         
.kde4/
.kodi/
.local/
.mozilla/
.oh-my-zsh/
.pki/
.pyload/
.recently-used
.smb/
.ssh/
.thumbnails/
.tor-browser_it/
.xinitrc
.zcompdump
.zcompdump-dreamspark-5.0.7
.zcompdump-dreamspark-5.0.8
.zprofile
.zsh-update
.zsh/
.zsh_history
documenti/
downloads/
screenshot/


