[Desktop Entry]
Name=BreezeMod-Dark

X-KDE-PluginInfo-Author=bcclsn
X-KDE-PluginInfo-Name=BreezeMod-Dark
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
